
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700;
  padding: 16px;
}

.profile-container p {
  padding: 8px;

}

.prof-img {
  padding: 16px;
}
