.show-container {
  justify-content: center;
  width: 800px;
  margin:0 auto;
}

.show-btn {
    align-items: center;
    justify-content: center;
    color: white !important;
    background-color: #FE346E;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px
  }

.booking-date {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booking-input {
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

.star1 {
  color: gold;
}

.star-pad {
  padding: 20px;
  width: 150px;
}
.review-avatar {
  padding-right: 25px;
}

.booking-content {
  display: flex;
  border-radius: 8px;
  height: 440px;
  width: 880px;
  padding-top: 16px;
  margin-top: 30px;
}

.booking-content h2 {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

#price {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FE346E;
  border-radius: 10px;
  height: 30px;
  width: 45px;
}


.booking-content p {
  font-family: Montserrat;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.booking-content-container {
  padding: 16px;
  width: 520px;
}

#avatar-price {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 41px;
}
#h2-booking {
  padding: 0px;
  padding-bottom: 12px;
}

// .attributes-grid {
//   padding-left: 24px;
// }

.review {
  display: flex;
  justify-content: space-between;
  width: 881px;
  margin: 0 auto;
  padding: 10pxpx;

}

.marginzero{
  margin: 0 auto;
  width: 881px;
  padding-bottom: 25px;
}

#card-review {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px #F5F3F3;
  border-radius: 8px;
  margin-bottom: 16px;
}

#reviewtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0C3293;
}

.card-img-top {
  box-shadow: 3px 4px 0px #9B9772, inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 4px;
}
#reviewtext1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #8A8787;
}



.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#avatarpad {
  padding-left: 15px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


