.signup-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  background-image: asset-url("homephoto.jpg");
  height: 850px;
}

.signupflex {
  display: flex;
  justify-content: center;
}

.columns {
  padding: 16px;
}

.signup-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widthinput {
  width: 300px;
  margin: 0;
}

.inputlabel {
  color: white;
}

.container2 a {
  color: white;
}

.container2 body {
  color: white !important;
}
