<div class="booking-container">
  <div class ="container">
    <div class="container2">
      <%= image_tag "tick.png", alt: "Le Wagon", width: 100 %>
      <h1>Booking Done</h1>
      <h2>12/02/2019 - 15/03/2019</h2>
      <%= link_to "See my bookings", superheroes_path, class: "btn bookings-btn" %>
      <h3>Spiderman Superhero</h3>
      <%= image_tag "spidercard.png", alt: "Le Wagon", width: 130 %>

    </div>
  </div>
</div>
