<h1>Hello from the my profile page</h1>
<div class="card-superhero-infos">
    <p>First name: <%= current_user.first_name %></p>
    <p>Last name: <%= current_user.last_name %></p>
    <p>E-mail address: <%= current_user.email %></p>
    <p>Account created: <%= current_user.created_at %></p>
</div>
