.banner-home {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: -80px;
  background-image: asset-url("background-home.jpg");
  height: 800px;
  width: 100%;
}

.banner-home1 {
  background-size: cover;
  background-position: center;
  background-image: asset-url("background-home.jpg");
  height: 80px;

}


.banner-home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: Montserrat;
  font-style: bold;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
}

.map-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}


.map-position h1 {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: Montserrat;
  font-style: bold;
  font-weight: 500;
}

.btn-map {
  display: flex;
  justify-content: space-between;
}


