.last-cards {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
}

.main-container {
   margin: 0 auto;
    width: 1073px;

}

.card-superhero {
  border-radius: 8px;
  margin: 16px;
  height: 394px;
  width: 245px;
  background: #FFFFFF;
  padding: 9px;
  box-shadow: 2px 4px 10px #E5E5E5;
  &:hover {
    // box-shadow: 4px 8px 10px #E5E5E5;
  }
  border-radius: 8px;



}

.card-superhero > img {
    height: 281.48px;
    width: 232.43px;
    object-fit: cover;

}

.card-superhero h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}



.card-superhero .card-superhero-infos {
  padding-top: 8px;

}

.card-link {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.price {
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #000000;
}

.card-superhero-infos p{
  margin: 0;
}

.card-superhero-infos h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
