#map {
  // width: 100%;
  // position: sticky;
  // top: 0;
  flex: 0 0 600px;
  // width: 600px;
}

.show-map {
  // width: 100%;
  // position: sticky;
  // top: 0;
  width: 881px !important;
  height: 311px !important;
  overflow: none;
}

.map-fullpage {
  height: 100%;
}

.map-halfpage {
  height: 60vh;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
