.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  box-shadow: 0px 2px 2px #F5F3F3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
  padding-top: 12px;
  padding-bottom: 12px;
}


.add-superhero-button {
  color: white !important;
  border-radius: 8px;
  font-family: 'Montserrat', ;
  text-align: center;
  background-color: #0C3293;
  margin-right: 16px;
}
