.results-container {
  margin: 0 auto;
  width: 1200px;
  height:70vh;
  display: flex;
}

.left-container {
  // margin: 0 auto;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: center;
  overflow: auto;
  height: 100%;
}
